#img_wrapper {
    position: relative;
    height: 200px;
    width: 257px;
    left: '50%';
    right: '50%';
}

#poster {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

img {
  margin-right: 20px;
}

#img_description {
  border: 3px solid black;
  border-width: 1px;
  position: fixed;
  text-align: center;
  font-size: 15px;
  color: white;
  background: black;
  width: fill;
  height: 600px;
  visibility: hidden;
  transform: translate(-50%, 40%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

#img_wrapper:hover #img_description {
    visibility: visible;
    opacity: 1;
  }

#img_description {
    transition: .2s;
    transform: translateY(1em);
}

#img_wrapper:hover #img_description {
    transform: translateY(0);
  }