#img_wrapper {
    position: relative;
    height: 200px;
    width: 257px;
}

#img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

#img_wrapper:hover #img_description {
    visibility: visible;
    opacity: 1;
  }

#img_description {
    transition: .2s;
    transform: translateY(1em);
}

#img_wrapper:hover #img_description {
    transform: translateY(0);
  }