.img_wrapper {
    position: relative;
    height: 200px;
    width: 257px;
    left: '50%';
    right: '50%';
}

.poster {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.img_description {
    position: fixed;
    text-align: center;
    font-size: 15px;
    color: white;
    background: black;
    width: fill;
    height: 100px;
    transform: translate(-50%, 40%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
  }

  .poster:hover .img_description {
    visibility: visible;
    opacity: 1;
  }

  .img_description {
    transition: .2s;
    transform: translateY(1em);
}

.poster:hover .img_description {
    transform: translateY(0);
  }